<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741108332421-n6ilgdoaero29vsm3m8ea78snsbu73nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741108332421-n6ilgdoaero29vsm3m8ea78snsbu73nf</string>
	<key>API_KEY</key>
	<string>AIzaSyDYyFEP2xHW7mEDreWoUPqFUmUL42-8bbU</string>
	<key>GCM_SENDER_ID</key>
	<string>741108332421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.bundle.Sport-Scheduler</string>
	<key>PROJECT_ID</key>
	<string>fir-test-28cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-28cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741108332421:ios:59f2305dca92dc329f76ec</string>
</dict>
</plist>